* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5% !important;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  text-rendering: geometricPrecision;
}

.fs-38 {
  font-size: 3.8rem;
}

.fs-24 {
  font-size: 2.4rem;
}

.fs-22 {
  font-size: 2.2rem;
}

.fs-20 {
  font-size: 2rem;
}

.fs-18 {
  font-size: 1.8rem;
}

.fs-17 {
  font-size: 1.7rem;
}

.fs-16 {
  font-size: 1.6rem;
}

.fs-15 {
  font-size: 1.5rem;
}

.fs-14 {
  font-size: 1.4rem !important;
}

.fs-13 {
  font-size: 1.3rem !important;
}

.fs-12 {
  font-size: 1.2rem !important;
}

.hide-pc {
  display: none;
}

.bg-BFA {
  background: #BFA356;
}

.text-phone {
  color: #BFA356;
}

.txt-blue {
  color: #414C5C;
}

.txt-000 {
  color: #000000;
}

.txt-white {
  color: #FFFFFF;
}

.txt-yellow {
  color: #FED101;
}

.cursor {
  cursor: pointer;
}

.hidepc {
  display: none;
}

#app {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
#app #header-top {
  font-size: 1.4rem;
  min-height: 4.2rem;
  color: #414C5C;
}
#app #header-menu {
  min-height: 5rem;
}
#app #header-menu .bg-bar {
  background: #BFA356;
  height: 4rem;
  margin: 0 15px;
}
#app #header-menu .min-h5rem {
  min-height: 5rem;
}
#app #header-menu .menu {
  margin-bottom: 0;
  height: 5rem;
}
#app #header-menu .menu-item {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.4rem;
}
#app .bg-dark-blue {
  background: #414C5C !important;
}

#footer-top .menu-footer {
  white-space: nowrap;
  overflow-x: auto;
}
#footer-top::-webkit-scrollbar {
  display: none;
}

.btn-timsim {
  min-height: 2.8rem;
  min-width: 7rem;
}

.side-img a img {
  width: 100%;
  height: 3rem;
}

.ml--8 {
  margin-left: -0.8rem;
}

.separate::before {
  content: "";
  width: 2rem;
  height: 0.2rem;
  display: block;
  background: #414C5C;
}

.blog-new {
  margin: 0 -0.9rem;
}

.txt-gray {
  color: #7e8281;
}

.pe-56 {
  padding-right: 5.6rem;
}

.w-93 {
  width: 93%;
}

.txt-dark {
  color: #414C5C;
}

.mt--9 {
  margin-top: -0.9rem;
}

.mg-r--15 {
  margin-right: -1.5rem;
}

.search-input input[type=text] {
  border: none;
  outline: none;
  margin-bottom: 1rem;
}
.search-input a {
  right: 5.7rem;
  top: 0;
  height: 75%;
  padding: 6px 17px;
}
.search-input a:hover {
  color: #fab005;
}

a.btn-datmua {
  color: #613719;
}
a.btn-datmua:hover {
  background: #BFA356;
  color: white;
}

.table-reponsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.mobi {
  color: #0000ff;
}

.fone {
  color: #ff0000;
}

.table-striped > tbody > tr {
  border-left: 1px solid #CBCBCB;
  border-right: 1px solid #CBCBCB;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  --bs-table-accent-bg: #f9f6ee !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  max-width: 100%;
  animation: fadeIn linear 0.2s;
}

.wrapper-find {
  top: 5.5rem;
  left: -49.9rem;
  right: 0;
  background: white;
  z-index: 4;
  transform: translateY(-100%);
  transition: transform ease 0.2s;
}
.wrapper-find .form-check-input:checked[type=checkbox] ~ label {
  color: #2b80fd;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.overlay, .wrapper-find {
  display: none;
}

.bar:checked ~ #show-wrapper .overlay {
  display: block;
}
.bar:checked ~ #show-wrapper .wrapper-find {
  display: block;
  transform: translateY(0);
  animation: fadeIn ease-out 0.4s;
}

.btn-timsim {
  min-height: 2.8rem;
  min-width: 7rem;
}

.side-img a img {
  width: 100%;
  height: 3rem;
}

.ml--8 {
  margin-left: -0.8rem;
}

.separate::before {
  content: "";
  width: 2rem;
  height: 0.2rem;
  display: block;
  background: #414C5C;
}

.blog-new {
  margin: 0 -0.9rem;
}

.txt-gray {
  color: #7e8281;
}

.btn-reuse #btn-1, .btn-reuse #btn-2 {
  width: 100%;
  height: 4rem;
  border: none;
  background: #BFA356;
}
.btn-reuse:hover {
  opacity: 1;
  border-color: #f1c604;
}
.btn-reuse #btn-2 {
  letter-spacing: 0.15rem;
}

.btn-shadow {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.body_mobile .mt-mobile-8 {
  margin-top: 0.8rem !important;
}
.body_mobile .mt-mobile-0 {
  margin-top: 0 !important;
}
.body_mobile .mt-mobile-12 {
  margin-top: 1.2rem;
}
.body_mobile .mt-mobile-30 {
  margin-top: 3rem !important;
}
.body_mobile .mt-mobile-10 {
  margin-top: 1rem !important;
}
.body_mobile .mt--36 {
  margin-top: -3.6rem;
}
.body_mobile .width-100 {
  width: 100%;
}
.body_mobile .width-136 {
  min-width: 12.5rem;
}
.body_mobile .mt-10-mobile {
  margin-bottom: 1rem;
}
.body_mobile .mt--12 {
  margin-top: -1.2rem;
}
.body_mobile .px-12 {
  padding: 0 1.2rem;
}
.body_mobile .show {
  display: block;
}
.body_mobile .hide-mobile {
  display: none !important;
}
.body_mobile .color-pri {
  color: #FFD600;
}
.body_mobile .bg-mobile i:first-child {
  padding: 0.8rem 1.2rem;
}
.body_mobile .bg-mobile .bg-search {
  height: 3.6rem;
}
.body_mobile .bg-mobile .bg-search input {
  color: #7e8281;
  flex: 1;
  margin-right: 0.8rem;
  padding-right: 9.8rem;
  padding-left: 1rem;
  outline: none;
  border: none;
}
.body_mobile .bg-mobile .bg-search .ic-search {
  right: 3.7rem;
  padding: 0.5rem 0.8rem;
  margin-right: -0.9rem;
  color: #FFFFFF;
}
@media only screen and (max-width: 35rem) {
  .body_mobile .bg-mobile .bg-search .ic-search {
    right: 3.2rem;
  }
  .body_mobile .bg-mobile .bg-search i:first-child {
    padding: 0.8rem 0rem;
  }
}
.body_mobile .bg-mobile .bg-search .bg-btn {
  background: #BFA356;
}
.body_mobile .bg-mobile .bg-search i:last-child {
  padding-right: 0.6rem;
}
.body_mobile .bg-mobile .bg-search-color {
  background: #414C5C;
}
.body_mobile .blog-new div.blog-info {
  padding: 0.6rem 1.2rem;
}
.body_mobile .tintuc {
  background: #414C5C;
  margin: 0 0;
  padding: 0.55rem;
  color: white;
  text-align: center;
}
.body_mobile .fixed-menu {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 3;
}
.body_mobile .mt-37 {
  margin-top: 3.7rem;
}
.body_mobile .table-striped > tbody > tr td > a.mobile-pr-34 {
  padding-right: 3.4rem;
}
.body_mobile .table-striped > tbody > tr > th {
  display: none;
}
.body_mobile .table-striped > tbody > tr > td:nth-child(5), .body_mobile .table-striped > tbody > tr td:nth-child(6), .body_mobile .table-striped > tbody > tr td:nth-child(7) {
  display: none;
}
.body_mobile .viettel {
  padding: 100%;
  max-width: 100%;
  width: 60%;
  background-repeat: no-repeat;
}
.body_mobile .filter1 {
  background: #f7c230;
  width: 108%;
  height: 50.5rem;
  top: 4.4rem;
  right: 0;
  z-index: 2;
  opacity: 0;
  transition: transform linear 0.2s;
  transform: translateX(100%);
  display: none;
}
.body_mobile .overlay-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  max-width: 100%;
  animation: fadeIn linear 0.2s;
  display: none;
}
.body_mobile #bar-id1:checked ~ .overlay-mobile {
  display: block;
}
.body_mobile #bar-id1:checked ~ .filter1 {
  display: block;
  transform: translateX(0);
  animation: fadeIn linear 0.2s;
  opacity: 1;
}
.body_mobile .mg-0-3 {
  margin: 0 0.3rem;
}
.body_mobile .fs-mobile-14 {
  font-size: 1.4rem;
}
.body_mobile .px-mobile-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.body_mobile .border-none-mobile {
  border: none !important;
}
.body_mobile .blog-title-wraper .blog-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.body_mobile .blog-title-wraper .blog-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*# sourceMappingURL=main.css.map */
