// Chứa code cho các thành phần có thể sử dụng lại (reusable) như buttons, navbars, cards,
.btn-reuse{
    #btn-1{
        width: 100%;
        height: 4rem;
        border: none;
        background: $btn-bg;
    }
    &:hover{
        opacity: 1;
        border-color: rgb(241, 198, 4);
    }
    #btn-2{
        @extend #btn-1;
        letter-spacing: 0.15rem;
    }
}
.btn-shadow{
    box-shadow: 0 1px 6px rgb(0, 0, 0, 0.2)
}

