.pe-56{
    padding-right: 5.6rem
}
.w-93{
    width: 93%;
}
.txt-dark{
    color: $text-menu-top;
}
.mt--9{
    margin-top: -0.9rem;
}
.mg-r--15{
    margin-right: -1.5rem;
}
.search-input{
    input[type="text"]{
        border: none;
        outline: none;
        margin-bottom: 1rem;
    }
    a{
        right: 5.7rem;
        top: 0;
        height: 75%;
        padding: 6px 17px;
        &:hover{
            color: #fab005;
        }
        
    }
}
a.btn-datmua{
    color: #613719;
    &:hover{
        background: $btn-bg;
        color: white;
    }
}

.table-reponsive{
    display: block;
    width: 100%;
    overflow-x: auto
}
.mobi{
    color: $text-mobi;
}
.fone{
    color: $text-fone;
}
.table-striped>tbody>tr{
    &:nth-of-type(odd){
        --bs-table-accent-bg: #f9f6ee !important;
    }
    border:{
        left: 1px solid #CBCBCB;
        right: 1px solid #CBCBCB;
    }
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    max-width: 100%;
    animation: fadeIn linear 0.2s;
}
.wrapper-find{
    top: 5.5rem;
    left: -49.9rem;
    right: 0;
    background: white;
    z-index: 4;
    transform: translateY(-100%);
    transition: transform ease 0.2s;
    .form-check-input:checked[type=checkbox] ~ label{
        color: #2b80fd;
    }
  }
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.overlay, .wrapper-find{
    display: none;
}
.bar:checked ~ #show-wrapper{
    .overlay{
        display: block;
    }
    .wrapper-find{
        display: block;
        transform: translateY(0);
        animation: fadeIn ease-out 0.4s;
    }
}

